html,
body {
  font-family: 'Open Sans', sans-serif;
}

.modal {
  width: 60%;
  margin: 2rem auto;

  min-width: 540px;
  min-height: 300px;

  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.modal__body {
  background: #f8f8f7;
  padding: 32px 50px 24px 50px;
}
.modal__header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;
  color: #050038;
}
.modal__actions {
  background: #ffffff;
  padding: 24px 50px 24px 50px;
}

.EmailsInput {
  display: block;

  background: #ffffff;
  border: 1px solid #c3c2cf;
  box-sizing: border-box;
  border-radius: 4px;

  max-height: 300px;
  padding: 8px;
}
.EmailsInput__NewEmailInput {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  border: none;
  box-sizing: border-box;
  display: inline-flex;
  max-width: 100%;

  /* color: #c3c2cf; */
}
.EmailsInput__NewEmailInput:focus {
  outline: 0;
}

.EmailBlock {
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  display: inline-block;
  height: 24px;
  margin: 4px 8px 4px 0;
  padding-left: 10px;
}

.EmailBlock--invalid {
  border-bottom: 1px dashed #d92929;
  background: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.EmailBlock__Content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #050038;
}

.EmailBlock__RemoveBtn {
  width: 24px;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.EmailBlock--invalid .EmailBlock__RemoveBtn {
  padding-right: 0;
}

.MiroButton {
  background: #4262ff;
  border-radius: 6px;
  text-align: center;
  padding: 8px 16px;

  margin-right: 16px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
